<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Préstamos CEI</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load bootstrap4 %}
    {% bootstrap_css %}

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

    <style>
        .form-div {
            width: 400px;
            background-color: #ececec;
            box-shadow: 0px 0px 5px grey;
        }
        body {
            background-color: #ecf0f1;
        }
    </style>
</head>

<body>
{% load static %}

    <div class="row p-5 align-middle justify-content-center">
        <div class="form-div text-center p-5 border">
            <form class="form-signin" action="{% url "login" %}" method="post">
                {% csrf_token %}
                <img class="mb-4" src="{% static "app/logo.png" %}" alt="" width="160" height="140">
                <h1 class="h3 mb-3 font-weight-normal">Iniciar Sesión</h1>
                <div class="form-group">
                    <label for="usr"class="sr-only">Correo:</label>
                    <input type="email" class="form-control" id="usr" name="username" placeholder="Correo" required
                           autofocus>
                </div>
                <div class="form-group">
                    <label for="pwd" class="sr-only">Contraseña</label>
                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Contraseña"
                           required>
                </div>
                <div class="checkbox mb-3">
                    <label><input type="checkbox" value="remember-me"> Recordarme</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Iniciar Sesión</button>
            </form>
            <form action="{% url "registerPage" %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-link">Registrarme</button>
            </form>
        </div>
    </div>
</body>