{% extends "base.html" %}

{% block specificjs %}
    <script>
        function toggleArticulos() {
            $('#articulos-tab').attr('class', 'btn btn-success');
            $('#pedidos-tab').attr('class', 'btn btn-light border');
            $('#usuarios-tab').attr('class', 'btn btn-light border');
        }
        function togglePedidos() {
            $('#pedidos-tab').attr('class', 'btn btn-success');
            $('#articulos-tab').attr('class', 'btn btn-light border');
            $('#usuarios-tab').attr('class', 'btn btn-light border');
        }
        function toggleUsuarios() {
            $('#usuarios-tab').attr('class', 'btn btn-success');
            $('#articulos-tab').attr('class', 'btn btn-light border');
            $('#pedidos-tab').attr('class', 'btn btn-light border');
        }
    </script>
{% endblock %}

{% block specificcss %}
    <style>
        .search-div {
            position: relative;
        }

        .search-div .fa {
            position: absolute;
            padding: 10px;
            pointer-events: none;
            left: 0;
        }

        .search-div input {
            padding-left:  30px;
        }

        hr {
            height: 0;
            background-color: #555;
            width: 100%;
            padding: 0px;
        }

        .btn.btn-primary.btn-good{
            color: #ffffff;
            background-color: #00e640;
        }

        .btn.btn-primary.btn-bad{
            color: #ffffff;
            background-color: #f03434;
        }

        /*
 * Base structure
    dashboard
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 150px;
}

/*
 * Typography
 */

h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 151px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

/*
 * Dashboard
 */

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

    </style>
{% endblock %}

{% block cuerpo %}

    <div class="container-fluid">
        <div class="row justify-content-center mt-4">
            <div class="container" style="text-align: center">
                <div class="col-2 sidebar">
                <ul class="nav " id="myTab" role="tablist">
                    <li class="nav-item">
                        <a role="button" id="usuarios-tab" data-toggle="tab" href="#usuarios"
                           aria-controls="usuarios" aria-selected="false" class="btn btn-light border"
                           onclick="toggleUsuarios()">
                            Usuarios
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="button" id="articulos-tab" data-toggle="tab" href="#articulos"
                           aria-controls="articulos" aria-selected="false" class="btn btn-light border"
                           onClick="toggleArticulos()">
                            Artículos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="button" id="pedidos-tab" data-toggle="tab" href="#pedidos"
                           aria-controls="pedidos" aria-selected="true" class="btn btn-success"
                           onClick="togglePedidos()">
                            Pedidos
                        </a>
                    </li>
                </ul>
                </div>
                <div class="tab-content col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3" id="contenido-tab">

                    <h1 class="h2">Administrador</h1>
                    <hr>

                    <div id="usuarios" class="tab-pane fade">
                        <div class="container-fluid">
                            <div class="row mt-4">
                                <div class="col-12 mx-auto px-0">
                                    <form class="form-inline">
                                        <div class="col-10 px-0 search-div">
                                            <i class="fa fa-search"></i>
                                            <input class="form-control" type="search" placeholder="Buscar artículos"
                                                   aria-label="Search" style="width: 100%">
                                        </div>
                                        <div class="col-2 px-0">
                                            <button class="btn btn-outline-success" type="submit" style="width: 100%;">
                                                Buscar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="table-responsive">
                                    <table class="table table-striped table-sm">
                                      <thead>
                                        <tr>
                                            <th>Rut</th>
                                            <th>Nombre</th>
                                            <th>Correo</th>
                                            <th>Estado</th>
                                            <th>agregar</th>
                                        </tr>
                                      </thead>
                                      <tbody>
                                        {% for usuario in usuarios %}
                                            <td>{{ usuario.user.first_name }}</td>
                                            <td>{{ usuario.user.last_name }}</td>
                                            <td>{{ usuario.user.username }}</td>
                                            <td>{{ usuario.estado }}</td>
                                        {% endfor %}
                                      </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="articulos" role="tabpanel"
                         aria-labelledby="articulos-tab">
                        <div class="container-fluid">
                            <div class="row mt-4">
                                <div class="col-12 mx-auto px-0">
                                    <form class="form-inline">
                                        <div class="col-10 px-0 search-div">
                                            <i class="fa fa-search"></i>
                                            <input class="form-control" type="search" placeholder="Buscar artículos"
                                                   aria-label="Search" style="width: 100%">
                                        </div>
                                        <div class="col-2 px-0">
                                            <button class="btn btn-outline-success" type="submit" style="width: 100%;">
                                                Buscar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <br>

                            <div class="row">
                                <div class="col-6">
                                    <h2>Artículos</h2>
                                    <hr>

                                    <div class="table-responsive">
                                        <table class="table table-striped table-sm">
                                          <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Estado</th>
                                                <th>agregar</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for articulo in articulos %}
                                              <tr>
                                                <td>{{ articulo.id }}</td>
                                                <td>{{ articulo.nombre }}</td>
                                                <td>{{ articulo.estado }}</td>
                                              </tr>
                                          {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <h2>Espacios</h2>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-sm">
                                          <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Nombre</th>
                                                <th>Estado</th>
                                                <th>agregar</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                          {% for espacio in espacios %}
                                              <tr>
                                                <td>{{ espacio.id }}</td>
                                                <td>{{ espacio.nombre }}</td>
                                                <td>{{ espacio.estado }}</td>
                                              </tr>
                                          {% endfor %}
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show active" id="pedidos" role="tabpanel" aria-labelledby="pedidos-tab">
                        grilla.
                        <br>
                        <hr>
                        <div class="row">
                                <div class="col-6">
                                    <form action="{% url 'cambiar_estado_pendientes' %}" method="post">
                                    {% csrf_token %}
                                        <h2>
                                            Reservas Pendientes
                                        </h2>

                                            <input type="submit" value="✓" name="entregado"
                                                   class="btn btn-primary btn-good"/>
                                            <input type="submit" value="X" name="rechazado"
                                                   class="btn btn-primary btn-bad"/>
                                        <hr>

                                        <div class="table-responsive">
                                            <table class="table table-striped table-sm">
                                              <thead>
                                                <tr>
                                                    <th></th>
                                                  <th>RUT Usuario</th>
                                                  <th>Nombre Espacio</th>
                                                    <th>Fecha de Solicitud</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                                <tr>
                                                    <td><input type="checkbox" id="id" name="id" value="id"></td>
                                                  <td>1,001</td>
                                                  <td>Lorem</td>
                                                  <td>ipsum</td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                              {% for pedidoespacio in pedidoespacios %}
                                                  {% if pedidoespacio.estado == 1 %}
                                                      <td><input type="checkbox" id="id" name="id" value="{{ pedidoespacio.id_espacio.id }}"></td>
                                                      <td>{{ pedidoespacio.id_usuario.user.first_name }}</td>
                                                      <td>{{ pedidoespacio.id_espacio.nombre }}</td>
                                                      <td>{{ pedidoespacio.fecha_pedido }}</td>
                                                  {% endif %}
                                              {% endfor %}

                                              </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                                <div class="col-6">
                                    <h2>Préstamos</h2>
                                    <hr>
                                    <div class="table-responsive">
                                        <table class="table table-striped table-sm">
                                          <thead>
                                            <tr>
                                                <th></th>
                                              <th>ID</th>
                                              <th>Artículo</th>
                                                <th>Usuario</th>
                                                <th>Fecha de Préstamo</th>
                                                <th>Estado</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <tr>
                                              <td>1,001</td>
                                              <td>Lorem</td>
                                              <td>ipsum</td>
                                            </tr>
                                          </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock cuerpo %}