{% load static %}
<link rel="stylesheet" href="{% static "app/calendar/jquery.calendar.css" %}">
<script src="//code.jquery.com/jquery.min.js"></script>
<script src="{% static "app/calendar/jquery.calendar.js" %}"></script>
<script>
    $(document).ready(function() {
        $('#calendar').cal({
            events: [
                {
                    uid: 1,
                    begins: $.cal.date().addDays(2).format('Y-m-d') + ' 10:10:00',
                    ends: $.cal.date().addDays(2).format('Y-m-d') + ' 12:00:00',
                    color: '#dddddd',
                    resource: '90',
                    title: 'Done'
                },
                {
                    uid: 2,
                    begins: $.cal.date().addDays(2).format('Y-m-d') + ' 12:15:00',
                    ends: $.cal.date().addDays(2).format('Y-m-d') + ' 13:45:00',
                    resource: '16',
                    notes: 'Keepin\' it real…\n\nMan.'
                },
                {
                    uid: 3,
                    begins: $.cal.date().addDays(2).format('Y-m-d') + ' 10:30:00',
                    ends: $.cal.date().addDays(2).format('Y-m-d') + ' 12:15:00',
                    color: 'rgb( 90, 0, 0 )',
                    resource: '16',
                    notes: 'The cake is a lie.'
                },
                {
                    uid: 4,
                    begins: $.cal.date().addDays(3).format('Y-m-d') + ' 14:15:00',
                    ends: $.cal.date().addDays(3).format('Y-m-d') + ' 16:30:00',
                    resource: '17',
                    notes: 'An <example> event…'
                },
                {
                    uid: 5,
                    begins: $.cal.date().addDays(4).format('Y-m-d') + ' 11:30:00',
                    ends: $.cal.date().addDays(4).format('Y-m-d') + ' 12:30:00',
                    color: '#990066',
                    notes: 'The big game'
                },
                {
                    uid: 6,
                    begins: $.cal.date().addDays(0).format('Y-m-d') + ' 12:30:00',
                    ends: $.cal.date().addDays(2).format('Y-m-d') + ' 8:45:00',
                    resource: '17',
                    notes: 'Good-O'
                },
                /*{
                    uid: 7,
                    begins:
                },*/
            ],
            daytimestart: '08:30:00',
            daytimeend: '18:30:00',
            masktimelabel: {
                '00'  : 'g:i <\\sp\\a\\n>A<\/\\sp\\a\\n>',
                'noon'  : 'g:i <\\sp\\a\\n>A<\/\\sp\\a\\n>'
            },
            minheight: 16,
            minwidth: 210,
            daystodisplay : 5,
        });
    });
</script>

<div id="calendar"></div>