{% extends 'base.html' %}

{% block specificjs %}
    <script>
        function toggleArticulos() {
            $('#articulos-tab').attr('class', 'btn btn-success');
            $('#espacios-tab').attr('class', 'btn btn-light border');
        }
        function toggleEspacios() {
            $('#espacios-tab').attr('class', 'btn btn-success');
            $('#articulos-tab').attr('class', 'btn btn-light border');
        }
        $(document).ready(function() {
            $('#search-button').click(function () {
                let search = $('#search').val();
                $('.resultados-articulos').html('').load(
                    "{% url 'searchArticulos' %}?search=" + search
                );
            });
        });
    </script>
{% endblock %}

{% block specificcss %}
    <style>
        .search-div {
            position: relative;
        }
        .search-div .fa {
            position: absolute;
            padding: 10px;
            pointer-events: none;
            left: 0;
        }
        .search-div input {
            padding-left:  30px;
        }
        hr {
            height: 0;
            background-color: #555;
            width: 100%;
            padding: 0px;
            margin: 0px;
        }
        .card {
            width: 13rem;
        }
        .card-img-top {
            width: 206px;
            height: 116px;
        }
        .card-body {
            padding: 0px;
        }
        /* importante para que la grilla funcione, variables puden variar */
        .grilla-container {
            position: absolute;
            top: 80px;
            height: 60vh;
        }
    </style>
{% endblock %}

{% block cuerpo %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-12" style="text-align: center">
                <ul class="nav justify-content-center" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a role="button" id="articulos-tab" data-toggle="tab" href="#articulos"
                           aria-controls="articulos" aria-selected="true" class="btn btn-success"
                           onClick="toggleArticulos()">
                            Artículos
                        </a>
                    </li>
                    <li class="nav-item">
                        <a role="button" id="espacios-tab" data-toggle="tab" href="#espacios" aria-controls="espacios"
                           aria-selected="false" class="btn btn-light border" onClick="toggleEspacios()">
                            Espacios
                        </a>
                    </li>
                </ul>
                <div class="tab-content" id="contenido-tab">
                    <div class="tab-pane fade show active" id="articulos" role="tabpanel"
                         aria-labelledby="articulos-tab">
                        <div class="container-fluid">
                            <div class="row mt-4">
                                <div class="col-12 mx-auto px-0">
                                    <form id="search-articulos-form" class="form-inline" action="#">
                                        <div class="col-10 px-0 search-div">
                                            <i class="fa fa-search"></i>
                                            <input id="search" class="form-control" type="search"
                                                   placeholder="Buscar artículos" aria-label="Search" autocomplete="off"
                                                   style="width: 100%">
                                        </div>
                                        <div class="col-2 px-0">
                                            <button id="search-button" class="btn btn-outline-success" type="submit"
                                                    style="width: 100%;">
                                                Buscar
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="container-fluid resultados-articulos">
                                {% include 'resultados_articulos.html' %}
                            </div>
                            <div class="row mt-5">
                                <h3>Top Pedidos</h3>
                                <hr>
                            </div>
                            <div class="row mt-3">
                                {% for i in "x"|rjust:"5" %}
                                    <div class="col-">
                                        <div class="card mb-3 mx-1">
                                            <img class="card-img-top"
                                                 src="//www.cei.cl/wp-content/uploads/2015/03/logo.png"
                                                 alt="Card image cap">
                                            <hr>
                                            <div class="card-body">
                                                <h5 class="card-title">Card title</h5>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="espacios" role="tabpanel" aria-labelledby="espacios-tab">
                        <div class="container grilla-container">
                            {% include 'grilla.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}